
.elo-rating {
	position: absolute;
	right: 15px;
	top: -8px;
}
 .card-body.player-ratings {
    min-height: 440px;
}
.bar-0 {
	background-color: #e74a3b  !important;
}
.bar-1 {
	background-color: #f6c23e !important;
}
.bar-2 {
	background-color: #4e73df !important;
}
.bar-3 {
	background-color: #36b9cc !important;
}
.bar-4 {
	background-color: #1cc88a !important;
}
.bar-5 {
	background-color: #5a5c69 !important;
}
#progressBar {
	height: 20px;
	width: 100%;
	border-radius:50px;
	border:2px solid #ddd
  }

#progress-bar {
	width: 0%;
	height: 100%;
	transition: width 500ms linear;
	border-radius:50px;
	box-shadow:0px 1px 5px #555
}

.progress-bar-danger {
	background: #d00;
}

.progress-bar-warning {
	background: #f50;
}

.progress-bar-success {
	background: #080;
}
.pwd-s {
	font-size: 10px;
	font-weight: 700;
}